# Node modules
node_modules/
client/node_modules/
server/node_modules/

# Build files
client/dist
dist-ssr

# Logs
logs
*.log

# Environment variables
.env
.env.local
.env.development
.env.production
.env.test

# System files
.DS_Store
.vscode/
.idea/
